@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />
<RadzenDialog />

<RadzenLayout>
    <NavMenu/>
    <RadzenBody>
        <div class="rz-p-12">
            @Body
        </div>
    </RadzenBody>

    <div id="blazor-error-ui">
        <div id="blazor-error-ui-message">
            以上が発生しました。アプリケーションをリロードしてください。
            <a href="" class="reload">Reload</a>
        </div>
    </div>

    <RadzenFooter>
        Footer
    </RadzenFooter>

</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}
